<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clean Blog - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="{{asset('assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{asset('assets/vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{{asset('assets/css/blog.css')}}" rel="stylesheet">

</head>
<body>
<div class="container">

        <div class="navigate_wrapper row justify-content-between left">
            <div class="back_block">
                <a href="table.html"> <img width="24" height="24" style="max-width: 24px; max-height: 24px;"  src="{{asset('assets/images/corner-up-left.png')}}"></a>
            </div>
            <div class="page_title_block">
                <h1>Be Better</h1>
                <p>Колесо баланса</p>
            </div>
            <div class="menu_block">
                <div class="contain_dots">
                    <div class="dot"></div>
                </div>
            </div>
        </div>

    <div class="container" style="background-color: #ffffff; height: 570px;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);border-radius: 11px; margin-top: 50px;">

        <div class="container top">
        <div class="redact_title_buttons row " style="  margin: 15px auto;">
            <div class="redact_title_button" style="width: 69px;height: 28px;left: 210px;top: 153px;background: #ffffff;border-radius: 100px;padding-left: 15px;">
                Цвет
            </div>
            <div class="redact_title_button" style="width: 69px;height: 28px;left: 210px;top: 153px;background: #ffffff;border-radius: 100px; padding-left: 15px;">
            Текст
        </div>
        </div>
        </div>
        <div class="small_redact_text">
            <p>Измените текст</p>
        </div>

        <div class="container response_iphone" style="position: relative; top:40px;">
            <div class="container" style="max-width: 310px;margin: 0 auto; padding: 0">
                <div class="wrp" style="max-width: 310px">
                    <div class="redact_big_circle">
                        <div style="position: absolute; z-index: 999; transform: rotate(-20deg);  left: 60px;">

                        </div>
                        <div class="sector" id="1_section_1" style="transform: rotate(45deg) skew(45deg); "></div>
                        <div class="sector" id="1_section_2" style="transform: rotate(90deg) skew(45deg); "></div>
                        <div class="sector" id="1_section_3" style="transform: rotate(135deg) skew(45deg); "></div>
                        <div class="sector" id="1_section_4" style="transform: rotate(180deg) skew(45deg); "></div>
                        <div class="sector" id="1_section_5" style="transform: rotate(225deg) skew(45deg); "></div>
                        <div class="sector" id="1_section_6" style="transform: rotate(270deg) skew(45deg); "></div>
                        <div class="sector" id="1_section_7" style="transform: rotate(315deg) skew(45deg); "></div>
                        <div class="sector" id="1_section_8" style="transform: rotate(360deg) skew(45deg); "></div>

                    </div>
                </div>
            </div>
            <div class="container one_contain" style="max-width: 260px;margin: 0 auto;padding: 0;margin-top: -270px">
                <div class="wrp one_wrapper" style="max-width: 260px">
                    <div id="second_wrapper" class="wrapper_second">
                        <div class="sector" id="2_section_1" style="transform: rotate(45deg) skew(45deg);"></div>
                        <div class="sector" id="2_section_2" style="transform: rotate(90deg) skew(45deg); background: #FF3131;"></div>
                        <div class="sector" id="2_section_3" style="transform: rotate(135deg) skew(45deg);"></div>
                        <div class="sector" id="2_section_4" style="transform: rotate(180deg) skew(45deg);"></div>
                        <div class="sector" id="2_section_5" style="transform: rotate(225deg) skew(45deg); background: #FF3131;"></div>
                        <div class="sector" id="2_section_6" style="transform: rotate(270deg) skew(45deg); background: #FF3131;"></div>
                        <div class="sector" id="2_section_7" style="transform: rotate(315deg) skew(45deg);"></div>
                        <div class="sector" id="2_section_8" style="transform: rotate(360deg) skew(45deg);"></div>

                    </div>
                </div>
            </div>
            <div class="container two_contain" style="max-width: 223px;margin: 0 auto;padding: 0;margin-top: -240px">
                <div class="wrp two_wrapper" style="max-width: 223px">
                    <div class="wrapper_third">
                        <div class="sector" id="3_section_1" style="transform: rotate(45deg) skew(45deg);"></div>
                        <div class="sector" id="3_section_2" style="transform: rotate(90deg) skew(45deg); background: #FF3131;"></div>
                        <div class="sector" id="3_section_3" style="transform: rotate(135deg) skew(45deg); background: #FF3131;"></div>
                        <div class="sector" id="3_section_4" style="transform: rotate(180deg) skew(45deg); border: none;"></div>
                        <div class="sector" id="3_section_5" style="transform: rotate(225deg) skew(45deg); background: #FF3131;"></div>
                        <div class="sector" id="3_section_6" style="transform: rotate(270deg) skew(45deg); background: #FF3131;"></div>
                        <div class="sector" id="3_section_7" style="transform: rotate(315deg) skew(45deg); border: none;"></div>
                        <div class="sector" id="3_section_8" style="transform: rotate(360deg) skew(45deg); background: #FF3131;"></div>

                    </div>
                    <div class="container three_contain" style="max-width: 186px;margin: 0 auto;padding: 0;margin-top: -205px">
                        <div class="wrp three_wrapper" style="max-width: 186px">
                            <div class="wrapper_fourth">
                                <div class="sector" id="4_section_1" style="transform: rotate(45deg) skew(45deg);"></div>
                                <div class="sector" id="4_section_2" style="transform: rotate(90deg) skew(45deg); background:#FF3131;"></div>
                                <div class="sector" id="4_section_3" style="transform: rotate(135deg) skew(45deg); background: #FF3131;"></div>
                                <div class="sector" id="4_section_4" style="transform: rotate(180deg) skew(45deg); background: #FF3131; "></div>
                                <div class="sector" id="4_section_5" style="transform: rotate(225deg) skew(45deg);background: #FF3131; "></div>
                                <div class="sector" id="4_section_6" style="transform: rotate(270deg) skew(45deg); background: #FF3131; "></div>
                                <div class="sector" id="4_section_7" style="transform: rotate(315deg) skew(45deg); background: #FF3131; "></div>
                                <div class="sector" id="4_section_8" style="transform: rotate(360deg) skew(45deg); background: #FF3131; "></div>

                            </div>
                        </div>
                    </div>
                    <div class="container four_contain" style="max-width: 150px;margin: 0 auto;padding: 0;margin-top: -165px">
                        <div class="wrp four_wrapper" style="max-width: 150px">
                            <div class="wrapper_fifth">
                                <div class="sector" id="5_section_1" style="transform: rotate(45deg) skew(45deg); background: #FF3131;"></div>
                                <div class="sector" id="5_section_2" style="transform: rotate(90deg) skew(45deg); background: #FF3131;"></div>
                                <div class="sector" id="5_section_3" style="transform: rotate(135deg) skew(45deg);background: #FF3131; "></div>
                                <div class="sector" id="5_section_4" style="transform: rotate(180deg) skew(45deg); background: #FF3131; "></div>
                                <div class="sector" id="5_section_5" style="transform: rotate(225deg) skew(45deg); background: #FF3131; "></div>
                                <div class="sector" id="5_section_6" style="transform: rotate(270deg) skew(45deg);background: #FF3131;"></div>
                                <div class="sector" id="5_section_7" style="transform: rotate(315deg) skew(45deg); background: #FF3131; "></div>
                                <div class="sector" id="5_section_8" style="transform: rotate(360deg) skew(45deg); background: #FF3131; "></div>

                            </div>
                        </div>
                    </div>
                    <div class="container fifth_contain" style="max-width: 115px;margin: 0 auto;padding: 0;margin-top: -130px">
                        <div class="wrp fifth_wrapper" style="max-width: 115px">
                            <div class="wrapper_six">
                                <div class="sector" id="6_section_1" style="transform: rotate(45deg) skew(45deg); background: #FF3131;"></div>
                                <div class="sector" id="6_section_2" style="transform: rotate(90deg) skew(45deg); background: #FF3131;"></div>
                                <div class="sector" id="6_section_3" style="transform: rotate(135deg) skew(45deg);  background: #FF3131;"></div>
                                <div class="sector" id="6_section_4" style="transform: rotate(180deg) skew(45deg);  background: #FF3131;"></div>
                                <div class="sector" id="6_section_5" style="transform: rotate(225deg) skew(45deg);  background: #FF3131;"></div>
                                <div class="sector" id="6_section_6" style="transform: rotate(270deg) skew(45deg); background: #FF3131;"></div>
                                <div class="sector" id="6_section_7" style="transform: rotate(315deg) skew(45deg);  background: #FF3131;"></div>
                                <div class="sector" id="6_section_8" style="transform: rotate(360deg) skew(45deg);  background: #FF3131;"></div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="container" style="max-width: 80px;margin: 0 auto;padding: 0;margin-top: -115px">
                <div class="wrp" style="max-width: 80px">
                    <div class="wheel_center_white">
                        <h3>76%</h3>
                    </div>
                </div>
            </div>
            <div class="container circle_contain">
            <div class="first_small_redact_circle">

                <img style="max-width: 9px; max-height: 9px; margin-left: 5px; margin-top: -5px" src="{{asset('assets/images/pen.png')}}">
            </div>
            <div class="second_small_redact_circle">
                <img style="max-width: 9px; max-height: 9px; margin-left: 5px; margin-top: -5px" src="{{asset('assets/images/pen.png')}}">
            </div>
            <div class="third_small_redact_circle">
                <img style="max-width: 9px; max-height: 9px; margin-left: 5px; margin-top: -5px" src="{{asset('assets/images/pen.png')}}">
            </div>
            <div class="four_small_redact_circle">
                <img style="max-width: 9px; max-height: 9px; margin-left: 5px; margin-top: -5px" src="{{asset('assets/images/pen.png')}}">
            </div>
            <div class="fifth_small_redact_circle">
                <img style="max-width: 9px; max-height: 9px; margin-left: 5px; margin-top: -5px" src="{{asset('assets/images/pen.png')}}">
            </div>
            <div class="six_small_redact_circle">
                <img style="max-width: 9px; max-height: 9px; margin-left: 5px; margin-top: -5px;" src="{{asset('assets/images/pen.png')}}">
            </div>
            <div class="seven_small_redact_circle">
                <img style="max-width: 9px; max-height: 9px; margin-left: 5px; margin-top: -5px" src="{{asset('assets/images/pen.png')}}">
            </div>
            <div class="eight_small_redact_circle">
                <img style="max-width: 9px; max-height: 9px; margin-left: 5px; margin-top: -5px" src="{{asset('assets/images/pen.png')}}">
            </div>
            </div>

    </div>
    </div>
    <div class="container" style="padding-top: 50px;">
    <div class="redact_title_buttons  " style="width: 131px;height: 38px;background: #FFFFFF;border: 1.5px solid #858589;border-radius: 100px;margin-top: 20px;">
        <p>Coхранить</p>
    </div>
    </div>
</div>
</body>
</html>
